# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Build artifacts
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.idb
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.exe.recipe
*.vcxproj.FileListAbsolute.txt
